.img-header {
  height: auto;
}

.nav-btn {
  padding: 1rem 1.2rem;
}

.nav-fill-scroll {
  background: #202020;
}

.nav-link {
  color: #BDBDBD !important
}

.nav-link:hover {
  color: white !important
}

.nav-transparent {
  background: transparent;
}

.navbar-nav > .nav-item > a > i {
  vertical-align: bottom;
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: #202020;
  }
}

@media (max-width: 575.98px) {
  .hamburger-label {
    font-size: 12px;
  }
  .brand {
    width: 80px;
    height: auto;
  }
  .seal {
    width: 144px;
    height: auto;
  }
}
@media (max-width: 321px) {
  .brand {
    width: 69px;
    height: auto;
  }
  .seal {
    width: 120px;
    height: auto;
  }
}
